html {
	background-color: #f8f8f8;
}
* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
h1:hover {
	text-decoration: underline;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	border: none;
	border-radius: 3px;
	padding: 8px;
}

.del {
	color: #fff;
	background-color: #b71c1c;
}
.edt {
	color: #fff;
	background-color: #f3ca31;
}
.view {
	color: #fff;
	background-color: #3258b5;
}
.new {
	color: #fff;
	background-color: #4c7f45;
}
.voteUp {
	color: #fff;
	background-color: #254185;
}
.voteDown {
	color: #fff;
	background-color: #b71c1c;
}

button:hover {
	cursor: pointer;
}
textarea {
	min-height: 100px;
}
select {
	background: #c8c8c8;
	border: none;
	font-size: 14px;
	padding: 3px;
	width: 150px;
}
.small {
	font-size: 12px;
}
.form-group:not(.last-child) {
	margin-bottom: 10px;
}
.categories-wrapper {
	padding: 30px 30px 0px 30px;
	display: flex;
}
.categories-list {
	list-style: none;
	padding-left: 0;
}
.categories-list li {
	display: inline-block;
	margin: 5px;
}
.categories-list li a,
.category-item {
	background-color: #4c7f45;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
.categories-list li a:hover {
	background: #385e32;
}
.posts-table-wrapper {
	border-radius: 4px;
	padding: 30px;
}
table {
	background-color: #f2f2f2;
}
th {
	background-color: #4caf50;
	color: #444;
}
tr:nth-child(even) {
	background-color: #e2e2e2;
}
.back-btn-wrapper {
	margin: 10px;
}
.back-btn-wrapper button {
	padding: 0;
}
.back-btn-wrapper a {
	display: inline-block;
	padding: 5px;
}
.h3-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.h3-wrapper h3 {
	margin: 10px 0;
}
.order-by label {
	padding-right: 5px;
}
.posts-table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.posts-table th {
	background-color: #ccc;
	padding: 5px;
}
.posts-table th,
.posts-table td {
	border: 1px solid black;
}
.posts-table td {
	padding: 3px;
}
.posts-table td button {
	padding: 0;
}
.posts-table td button a {
	padding: 5px;
}
.post-form,
.comment-form {
	width: 100%;
	max-width: 600px;
}
.post-form label,
.post-form input,
.post-form select,
.post-form textarea,
.comment-form input,
.comment-form textarea {
	width: 100%;
}
.post-form label {
	margin-right: 5px;
	text-align: center;
	font-weight: bold;
}
.post-header,
.comment-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.post-header h3 {
	margin: 0 0 10px 0;
}
.category-item {
	margin-left: 10px;
}
.votes-wrapper {
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.votes-wrapper span {
	margin-right: 10px;
}
.post-body {
	margin: 15px 0;
}
.comment-body {
	margin-top: 5px;
}
.comment-footer {
	margin-top: 10px;
}
.comment-form button {
	margin-top: 5px;
}
.comment:last-of-type hr {
	display: none;
}
.notFound-wrapper {
	text-align: center;
}
.notFound-wrapper a {
	color: blue;
}
.notFound-wrapper a:hover {
	color: darkblue;
}
